.main_nav{
    width: 10vw;
    min-height: 100vh;
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    margin-right: 10vw;
    box-shadow: 2px 0 5px black;
}

.logo {
    padding: 2rem 0;
    font-size: 40px;
    color: var(--color-text);
}

.footer {
    padding: 2rem 0;
    font-size: 12.5px;
    text-align: center;
    color: var(--color-text);
}

.nav_container{
    padding: 0;
    list-style: none;
    font-size: 20px;
    color: var(--color-text);
}

.nav_container li{
    text-align: left;
}

.nav_link{
    width: fit-content;
    margin: 1rem 0;
}

.nav_link:hover{
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.fai{
    align-self: center;
    margin-right: 1rem;
    width: 20px;
}